*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:#08A4D4 ;
}

.container{
    height: 800px;
    width: 800px;
    margin: 80px auto;
    border: 2px solid #CAE1EE;
}

.square{
    float: left;
    width: calc(100% / 10);
    height: calc(100% / 10);
    border: 2px solid #CAE1EE;
}

.container::after{
    content:'';
    display: table;
    clear: both;
}

